[submodule "Source/Lib/SDL"]
	path = Source/Lib/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "Source/Lib/tinyxml2"]
	path = Source/Lib/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "Source/Lib/imgui"]
	path = Source/Lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Source/Lib/implot"]
	path = Source/Lib/implot
	url = https://github.com/epezent/implot.git
[submodule "Source/Lib/openal-soft"]
	path = Source/Lib/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "Source/Lib/glm"]
	path = Source/Lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "Source/Lib/sol2"]
	path = Source/Lib/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "Source/Lib/FastDelegate"]
	path = Source/Lib/FastDelegate
	url = https://github.com/kaidokert/FastDelegate.git
[submodule "Source/Lib/stb"]
	path = Source/Lib/stb
	url = https://github.com/nothings/stb.git
[submodule "Source/Lib/assimp"]
	path = Source/Lib/assimp
	url = https://github.com/assimp/assimp.git
[submodule "Source/Lib/vorbis"]
	path = Source/Lib/vorbis
	url = https://gitlab.xiph.org/xiph/vorbis.git
[submodule "Source/Lib/json"]
	path = Source/Lib/json
	url = https://github.com/nlohmann/json.git
[submodule "Source/Lib/glslang"]
	path = Source/Lib/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "Source/Lib/bullet3"]
	path = Source/Lib/bullet3
	url = https://github.com/bulletphysics/bullet3.git
